<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Register_admn</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" media="screen" href="../static/css/bootstrap.min.css" />
        <style>
        body{
            background-image: url(../static/images/lib.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

            h5{
                color: red;
            }
        </style>
    </head>

    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-header">
                        <h2>Hello-Books</h2>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Create new Administrator Account
                        </div>
                        <div class="panel-body">
                             <h5 class="text-center">{{ msg5 }}</h5>
                            <form action="/admn_form" method="POST" class="form-horizontal">

                                <div class="form-group">
                                    <label for="username" class="col-md-4 control-label">Username</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="username">
                                    </div>
                                </div>
                                <h5 class="text-center">{{ msg }}</h5>


                                <div class="form-group">
                                    <label for="password" class="col-md-4 control-label">Password</label>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control" name="password">
                                    </div>
                                </div>
                                 <h5 class="text-center">{{ msg1 }}</h5>
                                 <h5 class="text-center">{{ msg6 }}</h5>
                                <div class="form-group">
                                    <label for="password" class="col-md-4 control-label">Re-enter Password</label>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control" name="rpt_password">
                                    </div>
                                </div>

                                <div class="col-md-8 col-md-offset-4">
                                    <input type="submit">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

</html>